<div id="<%= dom_id user %>">
  <p>
    <strong>ID:</strong>
    <%= user.id %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Full name:</strong>
    <%= user.full_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= user.address %>
  </p>

  <p>
    <strong>created_at:</strong>
    <%= user.created_at %>
  </p>

  <p>
    <strong>Post count:</strong>
    <%= user.posts_count %>
  </p>

</div>
